<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
  <title>게시글!</title>
  <meta charset="utf-8">
  <!-- Boot strap -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
 
  <link rel="stylesheet" type="text/css" href="{%static 'assets/css/bootstrap1.min.css' %}">
   <!-- 폰트 start -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  
  <!-- Additional CSS Files -->
  <!-- <link rel="stylesheet" type="text/css" href="{%static 'assets/css/bootstrap.min.css'%}"> -->

 

  <link rel="stylesheet" href="{%static 'assets/css/templatemo-klassy-cafe.css' %}">

  <!-- <link rel="stylesheet" href="{%static 'assets/css/owl-carousel.css' %}"> -->

  <!-- <link rel="stylesheet" href="{%static 'assets/css/lightbox.css' %}"> -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- navbar start -->
  <link rel="stylesheet" href="{%static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/221ae2e8b7.js" crossorigin="anonymous"></script>
  <script src="{%static 'js/main.js' %}" defer></script>
  <!-- navbar end-->

  <!-- navbar Start-->
  <nav class="navbar">
    <div class="navbar__logo">
      <i class="fa-solid fa-leaf"></i>
      <a href="{%url 'main_index' %}">Albo Market</a>
    </div>

    <ul class="navbar__menu">
      <li><a href="{%url 'main_index' %}">홈</a></li>

      <li><a href="{%url 'main_signup' %}">회원가입</a></li>
      <li><a href="{%url 'main_signin' %}">로그인</a></li>
      <li><a href="{%url 'main_logout' %}">로그아웃</a></li>
      <li><a href="{%url 'main_upload' %}">사진업로드</a></li>
      {% if login_user == User.user_name %}
      <li><a href="{%url 'main_mypage' %}">마이페이지</a></li>
      <li><a href="{% url 'user_remove' %}">회원탈퇴</a></li>
      {% endif %}
    </ul>

    <ul class="navbar__icons">
      <li><i class="fa-brands fa-twitter"></i></li>
      <li><i class="fa-brands fa-facebook"></i></li>
      <li><i class="fa-brands fa-instagram"></i></li>
    </ul>

    <a href="#" class="navbar__toggleBtn">
      <i class="fa-solid fa-bars"></i>
    </a>
</nav>

<style>
  html,body{
  width:90%;
  height: 100%;
  }
  body{
    max-width: 2115px;
    min-width: 2115px;
    margin:0;
    font-weight: 400;
    
  }
  </style>
  
</head>

<body>
 

  <div class="fl">
    <ul class="list_control">
      <li>
        <a href="{% url 'main_posting' %}" class="new">최근순</a>
      </li>
      <li>
        <a href="{% url 'main_desc' %}" class="desc">낮은가격순</a>
      </li>
      <li>
        <a href="{% url 'main_asc' %}" class="asc" style="background: #a7c520 ;">높은가격순</a>
      </li>
      <li>
        <a href="{% url 'main_index' %}" class="on" id="view">한줄로보기</a>
      </li>
    </ul>
  </div>
 

 


  <!-- 이미지 삽입 -->
  <div class="wrap">
    {% for item in items %}

    <div class="col-xs-3">
      <div class="col-xs-4">
        <form  action="posting/new_post" method="POST">{% csrf_token %}

          {% if item.item_img %}
          <a href="{{item.get_absolute_url}}" target="_blank">
          
            <img class="image" src="{{ item.item_img.url }}" alt="">
        
            <br>
            {% endif %}

            <li style="font-size: 17px;">
              <i class="fa-solid fa-seedling"></i>&nbsp{{item.item_name}}&nbsp<i class="fa-solid fa-seedling"></i>
            </li>

            <li id="desc" style="font-size: 15px;"><i class="fa-solid fa-won-sign"></i>&nbsp{{item.item_price}}</li>
            <p><i class="fa-regular fa-user"></i> &nbsp{{item.user_name}}</p>
            <p class="myButton" style="font-size: 12px;"><i> &nbsp{{item.trade_status}} </i></p>

          </a>

        </form>
      </div>
    </div>
    {% endfor %}

  </div>

  <!-- --------------paging 23/01/08------------>
  
  <ul class="paging">
    {% if items.has_previous %}
    <li class="prev">
      <a class="" href="?page={{ items.previous_page_number}}"><i class="fa-solid fa-angle-left"></i></a>
    </li>
    {% else %}
    <li class="prev">
      <a class="" tabindex="-1" aria-disabled="true" href="#"><i class="fa-solid fa-angle-left"></i></a>
    </li>
    {% endif %}
  
    {% for page_number in items.paginator.page_range %}
    {% if page_number >= items.number|add:-5 and page_number <= items.number|add:5%}
  
    {% if page_number == items.number %}
    <li class="on" aria-current="page">
      <a class="" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="on">
      <a class="" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
  
    {% if items.has_next %}
    <li class="next">
      <a class="" href="?page={{ items.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
    </li>
    {% else %}
    <li class="next">
      <a class="" tabindex="-1" aria-disabled="true" href="#"><i class="fa-solid fa-angle-right"></i></a>
    </li>
    {% endif %}
  </ul>


 



  <!-- jQuery -->
  <script src="{%static 'assets/js/jquery-2.1.0.min.js' %}"></script>

  <!-- Bootstrap -->
  <script src="{%static 'assets/js/popper.js' %}"></script>
  <script src="{%static 'assets/js/bootstrap.min.js' %}"></script>

  <!-- Plugins -->
  <script src="{%static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{%static 'assets/js/accordions.js' %}"></script>
  <script src="{%static 'assets/js/datepicker.js'%}"></script>
  <script src="{%static 'assets/js/scrollreveal.min.js'%}"></script>
  <script src="{%static 'assets/js/waypoints.min.js'%}"></script>
  <script src="{%static 'assets/js/jquery.counterup.min.js'%}"></script>
  <script src="{%static 'assets/js/imgfix.min.js'%}"></script>
  <script src="{%static 'assets/js/slick.js'%}"></script>
  <script src="{%static 'assets/js/lightbox.js' %}"></script>
  <script src="{%static 'assets/js/isotope.js' %}"></script>

  <!-- Global Init -->
  <script src="{%static 'assets/js/custom.js' %}"></script>
  <script>

    $(function () {
      var selectedClass = "";
      $("p").click(function () {
        selectedClass = $(this).attr("data-rel");
        $("#portfolio").fadeTo(50, 0.1);
        $("#portfolio div").not("." + selectedClass).fadeOut();
        setTimeout(function () {
          $("." + selectedClass).fadeIn();
          $("#portfolio").fadeTo(50, 1);
        }, 500);

      });
    });


  </script>
</body>



</html>