<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>

  <title>Albo Market</title>
  <meta charset="utf-8">
  <!-- Boot strap -->
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!-- 폰트 start -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
    rel="stylesheet">



  <!-- Additional CSS Files -->
  <link rel="stylesheet" type="text/css" href="{%static 'assets/css/bootstrap.min.css'%}">

  <link rel="stylesheet" type="text/css" href="{%static 'assets/css/font-awesome.css' %}">

  <link rel="stylesheet" href="{%static 'assets/css/templatemo-klassy-cafe.css' %}">

  <link rel="stylesheet" href="{%static 'assets/css/owl-carousel.css' %}">

  <link rel="stylesheet" href="{%static 'assets/css/lightbox.css' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- navbar start -->
  <link rel="stylesheet" href="{%static 'css/index.css' %}">
  <!-- <link rel="stylesheet" href="{%static 'css/style.css' %}"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/221ae2e8b7.js" crossorigin="anonymous"></script>
  <script src="{%static 'js/main.js' %}" defer></script>
  <!-- navbar end-->
  <style>
   body{
   width: 100%;
   max-width:2300px;
   min-width:2200px;
   }

    #top .left-content {
      background-image: url("{%static 'img/KakaoTalk_20221215_105156732.png' %}");
   
    }

  
  </style>

  <!-- navbar CSS Start-->
  <nav class="navbar">

    <div class="navbar__logo">
      <i class="fa-solid fa-leaf"></i>
      <a style="color: #000000;" href="{%url 'main_index' %}">Albo Market</a>
    </div>

    <ul class="navbar__menu">
      <li><a style="color: #000000;" href="{%url 'main_index' %}">홈</a></li>

      <li><a style="color: #000000;" href="{%url 'main_signup' %}">회원가입</a></li>
      
      {% if 'user_name' not in request.session.keys  %}
      <li><a style="color: #000000;" href="{%url 'main_signin' %}">로그인</a></li>
      {% endif %}
      
      {% if 'user_name' in request.session.keys  %}
      <li><a style="color: #000000;" href="{%url 'main_logout' %}">로그아웃</a></li>
      <li><a style="color: #000000;" href="upload">사진업로드</a></li>
      <li><a style="color: #000000;" href="{%url 'main_mypage' %}">마이페이지</a></li>
      {% endif %}
    </ul>

    <ul class="navbar__icons">
      <li><i class="fa-brands fa-twitter"></i></li>
      <li><i class="fa-brands fa-facebook"></i></li>
      <li><i class="fa-brands fa-instagram"></i></li>
    </ul>

    <!-- <a href="#" class="navbar__toogleBtn">
    <i class="fa-solid fa-bars"></i>
  </a> -->

  </nav>
  <!-- navbar CSS End -->

</head>



<body>





  <div id="top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
         


          <!-- <div class="left-content">
            <div class="inner-content">
              <h4 color=black;>Albo Market</h4>
              <h6>THE BEST Market</h6>
              <div class="main-white-button scroll-to-section">
                <a href="">View Chart</a>
              </div>
            </div>
          </div> -->

        </div>
        <div class="col-lg-8">
          <div class="main-banner header-text">
            <div class="Modern-Slider">

              <!-- Item1 -->
              <div class="item">
                <div class="img-fill">

                  {% autoescape off %}

                  {{ plot_div }}
                  {% endautoescape %}
                  
                </div>
              </div>
              <!-- // Item1 -->
              
              <!-- Item2 -->
              <div class="item">
                <div class="img-fill">

                  {% autoescape off %}
                  {{ fig_div }}
                  {% endautoescape %}

                 
                </div>
              </div>
              <!-- // Item2 -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- /* 가격순, 등록순 ... start */ -->
  <div class="fl" >
    <ul class="list_control"  >
      <li>
        <a href="{% url 'main_posting' %}" class="on" id="view" style="color: #000000;">전체보기</a>
      </li>
    </ul>
  </div>

  <!-- 이미지 삽입 -->
  <div class="wrap">
    {% for item in items %}

    <div class="col-xs-3">
      <div class="col-xs-4">
        <form action="posting/new_post" method="POST">{% csrf_token %}

          {% if item.item_img %}
          <a href="{{item.get_absolute_url}}" target="_blank">
            <img src="{{ item.item_img.url }}" alt="">

            <br>
            {% endif %}

            <li style="color: #000000;">
              <i class="fa-solid fa-seedling" ></i>&nbsp{{item.item_name}}&nbsp<i class="fa-solid fa-seedling"></i>
            </li>

            <li style="color: #000000;"><i class="fa-solid fa-won-sign"></i>&nbsp{{item.item_price}}</li>
            <p><i class="fa-regular fa-user"></i> &nbsp{{item.user_name}}</p>
            <p class="myButton" style="font-size: 12px;"><i> &nbsp{{item.trade_status}} </i></p>

          </a>

        </form>
      </div>
    </div>
    {% endfor %}

  </div>




  <!-- jQuery -->
  <script src="{%static 'assets/js/jquery-2.1.0.min.js' %}" async></script>

  <!-- Bootstrap -->
  <script src="{%static 'assets/js/popper.js' %}" async></script>
  <script src="{%static 'assets/js/bootstrap.min.js' %}" async></script>

  <!-- Plugins -->
  <script src="{%static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{%static 'assets/js/accordions.js' %}"></script>
  <script src="{%static 'assets/js/datepicker.js'%}"></script>
  <script src="{%static 'assets/js/scrollreveal.min.js'%}"></script>
  <script src="{%static 'assets/js/waypoints.min.js'%}"></script>
  <script src="{%static 'assets/js/jquery.counterup.min.js'%}"></script>
  <script src="{%static 'assets/js/imgfix.min.js'%}"></script>
  <script src="{%static 'assets/js/slick.js'%}"></script>
  <script src="{%static 'assets/js/lightbox.js' %}"></script>
  <script src="{%static 'assets/js/isotope.js' %}"></script>

  <!-- Global Init -->
  <script src="{%static 'assets/js/custom.js' %}" async></script>
  <script>

    $(function () {
      var selectedClass = "";
      $("p").click(function () {
        selectedClass = $(this).attr("data-rel");
        $("#portfolio").fadeTo(50, 0.1);
        $("#portfolio div").not("." + selectedClass).fadeOut();
        setTimeout(function () {
          $("." + selectedClass).fadeIn();
          $("#portfolio").fadeTo(50, 1);
        }, 500);

      });
    });
    
    // javascript slider 효과
    $(".Modern-Slider").slick({
	    autoplay:true,
	    autoplaySpeed:10000,
	    speed:600,
	    slidesToShow:1,
	    slidesToScroll:1,
	    pauseOnHover:false,
	    dots:true,
	    pauseOnDotsHover:true,
	    cssEase:'linear',
	   // fade:true,
	    draggable:false,
	    prevArrow:'<button class="PrevArrow">◀</button>',
	    nextArrow:'<button class="NextArrow">▶</button>', 
	  });
  </script>
</body>

</html>